@import "tailwindcss";

:root {
    --color-primary: #1a2a6c;
    --color-secondary: #b21f1f;
    --color-accent: #fdbb2d;
    --color-bg: #f5f5f5;
    --color-text-main: #0f172a;
    --color-text-muted: #6b7280;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@theme {
    --font-sans: "IBM Plex Mono", sans-serif;

    --color-deepdark: #0d0e14;
    --color-concrete: #040404;
    --color-cream: #d9c5b2;
    --color-taupe: #a49688;
    --color-stone: #746c64;
    --color-coffee: #483e37;

    --color-soulsilver: #c0c0c0;
    --color-gold: #d4af37;
    --color-safe: #4f634f;
    --color-error: #8b4545;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}
